<div class="container">
  <div class="calendar">
    <div class="month">

      <i class="fas fa-angle-left prev" onclick="prev_month()"></i>
      <div class="date">
        <h1>{{month}}</h1>
        <p>{{year}}</p>
      </div>
      <i class="fas fa-angle-right next" onclick="next_month()"></i>
    </div>
    <ul class="weekdays">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>
    {{days|safe}}
    </div>
    </div>
