<div class="container">
  <div class="calendar">
    <div class="month">

      <i class="fas fa-angle-left prev" onclick="prev_month()"></i>
      <div class="date">
        <h1>{{month}}</h1>
        <p>{{year}}</p>
      </div>
      <i class="fas fa-angle-right next" onclick="next_month()"></i>
    </div>
    <div class="weekdays">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
    {{days|safe}}
    </div>
    </div>
