
  <p>
    <center><h4><strong>{{details[0][1]}}</h4></center>
      <br>
     {{details[0][11]}} Event by {{details[0][7]}}
    <br>
    <!-- <strong>Time:</strong> {{time}} -->
    <!-- {{details[0][3]}} - {{details[0][4]}} -->

    <!-- <br> -->
    <strong>Start Date:</strong> {{details[0][5]}}
    <br>
    <strong>End Date:</strong> {{details[0][10]}}
    <br>
    <strong>Time:</strong> {{start}}
    <br>

    <!-- <strong>End Time:</strong>
    <br> -->
    <strong>Location:</strong> {{details[0][2]}}
    <br>
    <strong>Room Number:</strong> {{details[0][9]}}
    <br>
    <strong>Details:</strong> {{details[0][6]}}
    <br>
    {% if participants != none %}
      <strong>Interested Friends:</strong>
      <table {border-spacing: 5px}>
        <tr>
          <th>Net ID</th>
          <th>Name</th>
        </tr>
        {% for participant in participants %}
          <tr>
            <td>{{ participant[0] }}</td>
            <td>{{ participant[1] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    <a href = "signup?eventid={{details[0][0]}}"> sign up </a>

    {% if username == details[0][7]%}
    <a href = "deleteevent?eventid={{details[0][0]}}"> delete event </a>
    {% endif %}

    <!-- <br>
    <a href = "calendar?eventid={{details[0][0]}}"> Add to Calendar </a> -->

  </p>
