<html>
  <p>
    <center><h4><strong>{{details[0][1]}}</h4></center>
    <br>
    <strong>Time:</strong> <div id = "start"></div> - <div id = "end"></div>
    <!-- {{details[0][3]}} - {{details[0][4]}} -->
    <br>
    <strong>Date:</strong> {{details[0][5]}}
    <br>
    <strong>Location:</strong> {{details[0][2]}}
    <br>
    <strong>Room Number:</strong> {{details[0][9]}}
    <br>
    <strong>Details:</strong> {{details[0][6]}}
    <br>
    <a href = "signup?eventid = {{details[0][0]}}"> Sign up </a>

    <a href = "calendar?eventid = {{details[0][0]}}"> Add to Calendar </a>

  </p>

  <script>
  function convertTime(time){
    time = String(time);
    time = time.substring(0,4);
    return time;
  }
  document.getElementById("start").innerHTML = convertTime({{details[0][3]}})
  document.getElementById("end").innerHTML = convertTime({{details[0][4]}})

  </script>
</html>
