<!DOCTYPE html>
<html>
   <head>
      <title>Mist - Event Details</title>

      <meta name="viewport"
      content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" />
      <link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
      <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </head>
   <body style ="background-color: #656565; color: white">
    <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: rgb(255, 143, 0);">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
        <img src="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" alt="logo" style="width:40px;">
        </a>
        <!-- Links -->
        <ul class="navbar-nav">

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style = "font-size: 1.5vw;">
                Menu
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="index">Map</a>
              <a class="dropdown-item" href="calendar">Calendar</a>
              <a class="dropdown-item" href="inputpage?">Create Events</a>
              <a class="dropdown-item" href="friendscreen?">Friend Search</a>
              <a class="dropdown-item" href="firsttimeuser">Reset Name</a>
            </div>
          </li>
        </ul>
  
          <span class="navbar-text ml-auto" style = "font-size: 1.5vw;">
            {{username}}  <a href = "logout"> logout</a>
          </span>

      </nav>
      <div style ="padding-top: 80px; padding-left: 20px;">
      <b>Event Id:</b> {{eventID}}<br>
      <b>Event Name:</b> {{eventName}}<br>
      <b>Event Location:</b> {{eventLocation}}<br>
      <b>Event Date</b> {{eventDate}}<br>
      <b>Start Time:</b> {{startTime}}<br>
      <b>End Date:</b> {{endDate}}<br>
      <b>End Time:</b> {{endTime}}<br>
      <b>Event Details</b> {{details}}<br>
      <b>Room Number:</b> {{roomNumber}}<br>
    </div>
   </body>


</html>
