<div class="event_container">
  <div class="items">
    <div class="items-head">
      <p>December 12</p>
      <hr>
    </div>
    
    <div class="items-body">
      <div class="items-body-content">
        <span>Web Usabilty Testing</span>
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="items-body-content">
        <span>Design of Everyday Things</span>
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="items-body-content">
        <span>Practical Empathy: For Collaboration Creativity in Your Work</span>
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="items-body-content">
        <span>About Face: The Essentials of Interaction Design</span>
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>