<!DOCTYPE html>
<html>
   <head>
      <head>
      <title>First Time User</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" />
      <meta name="viewport"
      content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class ="container-fluid" style ="background-color:rgb(255, 143, 0);">
            <div class="row" style="background-color:rgb(255, 143, 0);">
                <div class = "col-12 align-middle" display: inline-block;><center><h1 class="align-middle" style="font-size:4vw;float:center;display:inline;">Welcome to Mist!</h1></center></div>
            </div>
        </div>
        <center><div class="header">
            <h2>First Time User</h2>
            <p>Welcome to Mist, {{ netid }}! To continue, please input your name.</p>
        </div></center>
        <hr>
        <center><div class="container-fluid">
          <p id = "error" style="color:red;">
          </p>
            <form onsubmit = "return checkInput()" action="firsttimeuser" method="get">
                <div class="col-sm-12">
                    <input type="text" name="firstname" id = "first" placeholder="Preferred First Name">
                </div>
                <div class="col-sm-12">
                    <input type="text" name="lastname" id = "last" placeholder="Last Name">
                </div>
                <div class="col-sm-12">
                    <input type="submit"
                </div>
            </form>
        </div></center>
    </body>
    <script>
    function checkInput(){
      if(document.getElementById("first").value ==""){
        document.getElementById("error").innerHTML = "please enter first name";
        return false;
      }
      // if(document.getElementById("roomnum").value ==""){
      //   document.getElementById("error").innerHTML = "no roomnum";
      //   return false;
      // }
      if(document.getElementById("last").value ==""){
        document.getElementById("error").innerHTML = "please enter last name";
        return false;
      }
    }
    </script>
</html>
