<!DOCTYPE html>
<html>
   <head>
      <title>Mist-Friends</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" />
      <meta name="viewport"
         content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
      <link rel="stylesheet" href=
      "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>


   <body>
      <div class ="container-fluid" style ="background-color:rgb(255, 143, 0);">
         <div class="row" style="background-color:rgb(255, 143, 0);">
             <div class = "col-3" display: inline-block; style = "display:inline-block;padding:0;margin:0;">
                 <a href = "https://mist-princeton.herokuapp.com/"><img src="https://mist-asset.s3.us-east-2.amazonaws.com/mist+map2.png"  class="responsive" style = "max-width:30%;height:auto;float:left;"></a>
             </div>
             <div class = "col-6 align-middle" display: inline-block;><center><h1 class="align-middle" style="font-size:4vw;float:center;display:inline;">Welcome to Mist!</h1></center></div>
             <div class = "col-3"display: inline-block; style = "display:inline-block;padding:0;">
                 <a href = "https://mist-princeton.herokuapp.com/calendar"><img src="https://mist-asset.s3.us-east-2.amazonaws.com/mist+day.png"  class="responsive" style = "max-width:30%;height:auto;float:right;"></a>
             </div>
         </div>
     </div>
     <div class="container-fluid"
        style="background-color:rgb(255, 143, 0);">

        <center>
          <h1>Friends List</h1>
          <div class = "container-fluid">
                <p id = 'Friendresults'></p>
        </div>


            <div class = "col-sm-3"greyborder>
                <input class = "form-control" type="text" id="searchBar" placeholder = "Search for Friends">
            </div>
         </center>
         <br>
          </div>

    <div class = "container-fluid">
          <p id = 'searchresults'></p>
  </div>


    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script>

      'use strict';

      function handleResponse(response)
      {
        $('#searchresults').html(response);
      }
      function handleFriends(response)
      {
        $('#Friendresults').html(response);
      }


      let request = null;


      function getResults()
         {

            let Search = $('#titleInput').val();
            Search =  encodeURIComponent(Search);

            let url = '/searchfriends?search=' + Search;

            if (request != null)
               request.abort();

            request = $.ajax(
               {
                  type: 'GET',
                  url: url,
                  success: handleResponse
               }
            );
         }
         function getFriends()
            {
              var user = {{userid|tojson}};
               let userid = String(user);

               userid =  encodeURIComponent(userid);

               let url = '/getfriends?search=' + userid;

               if (request != null)
                  request.abort();

               request = $.ajax(
                  {
                     type: 'GET',
                     url: url,
                     success: handleFriends
                  }
               );
            }
         function setup()
         {
            $('#titleInput').on('input', getResults);
            getFriends()
         }

         $('document').ready(setup);
         </script>
   </body>
   <div class="container-fluid"
      style="background-color:rgb(255, 143, 0);">

      <center>
    Created by Benjamin Nadon and Hassan Abioye, Anthony Gartner, Nicholas Cabrera.
  </div>
</html>
