<!DOCTYPE html>
<html>
   <head>
      <title>Mist-Friends</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" />
      <meta name="viewport"
         content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
      <link rel="stylesheet" href=
      "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
      <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
                        }
    </style>
   </head>


   <body>
      <!--<div class ="container-fluid" style ="background-color:rgb(255, 143, 0);">
         <div class="row" style="background-color:rgb(255, 143, 0);">
             <div class = "col-3" display: inline-block; style = "display:inline-block;padding:0;margin:0;">
                 <a href = "https://mist-princeton.herokuapp.com/"><img src="https://mist-asset.s3.us-east-2.amazonaws.com/mist+map+v2.png"  class="responsive" style = "max-width:30%;height:auto;float:left;"></a>
             </div>
             <div class = "col-6 align-middle" display: inline-block;><center><h1 class="align-middle" style="font-size:4vw;float:center;display:inline;">Welcome to Mist!</h1></center></div>
             <div class = "col-3"display: inline-block; style = "display:inline-block;padding:0;">
                 <a href = "https://mist-princeton.herokuapp.com/calendar"><img src="https://mist-asset.s3.us-east-2.amazonaws.com/mist+day+v2.png"  class="responsive" style = "max-width:30%;height:auto;float:right;"></a>
             </div>
         </div>
     </div>-->
     <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: rgb(255, 143, 0);">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="index">
      <img src="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" alt="logo" style="width:40px;">
      </a>
      <!-- Links -->
      <ul class="navbar-nav">

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href = "#" id="navbardrop" data-toggle="dropdown" style = "font-size: 1.5vw;">
              Menu
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="index">Map</a>
              <a class="dropdown-item" href="calendar">Calendar</a>
              <a class="dropdown-item" href="inputpage?">Create Events</a>
              <a class="dropdown-item" href="friendscreen?">Friend Search</a>
              <a class="dropdown-item" href="logout">Logout</a>
          </div>
        </li>
      </ul>
        <span class="navbar-text ml-auto" style = "font-size: 1.5vw;">
          {{userid}}
        </span>
    </nav>
    <div class="container-fluid" style="margin-top:80px"></div>
     <div class="container-fluid"
        style="background-color:rgb(255, 143, 0);">


        <center>
          <div class = "col-sm-3"greyborder>
              <input class = "form-control" type="text" id="searchBar" placeholder = "Search for Friends">
          </div>
          <div class = "container-fluid">
                <p id = 'searchresults'></p>
          </div>
          <div class = "grid-container">

            <div class = "grid-child">
                <h1>Your Pending Requests</h1>
                <p id = 'pendingrequests'></p>
            </div>

          <div class = "grid-child">
              <h1>Friend Requests</h1>
              <p id = 'friendrequests'></p>
          </div>
        </div>
    <h1>Current Friends</h1>
    <p id = 'friendresults'></p>

         </center>
          </div>




    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script>

      'use strict';

      function handleResponse(response)
      {
        $('#searchresults').html(response);
      }
      function handleFriends(response)
      {
        $('#friendresults').html(response);
        getRequests();

      }
      function handleRequests(response)
      {
        $('#friendrequests').html(response);
        getPending();
      }

      function handlePending(response){
        $('#pendingrequests').html(response);
      }


      let request = null;


      function getResults()
         {

            let Search = $('#searchBar').val();
            Search =  encodeURIComponent(Search);

            let url = '/searchfriends?search=' + Search;

            if (request != null)
               request.abort();

            request = $.ajax(
               {
                  type: 'GET',
                  url: url,
                  success: handleResponse
               }
            );
         }
         function getFriends()
            {
              var user = {{userid|tojson}};
               let userid = String(user);

               userid =  encodeURIComponent(userid);

               let url = '/getfriends'

               if (request != null)
                  request.abort();

               request = $.ajax(
                  {
                     type: 'GET',
                     url: url,
                     success: handleFriends
                  }
               );
            }
            function getRequests()
               {
                 var user = {{userid|tojson}};
                  let userid = String(user);

                  userid =  encodeURIComponent(userid);

                  let url = '/getrequests'

                  if (request != null)
                     request.abort();

                  request = $.ajax(
                     {
                        type: 'GET',
                        url: url,
                        success: handleRequests
                     }
                  );
               }
               function getPending()
                  {
                    var user = {{userid|tojson}};
                     let userid = String(user);

                     userid =  encodeURIComponent(userid);

                     let url = '/getpending'

                     if (request != null)
                        request.abort();

                     request = $.ajax(
                        {
                           type: 'GET',
                           url: url,
                           success: handlePending
                        }
                     );
                  }
         function setup()
         {
            $('#searchBar').on('input', getResults);
            getFriends();
         }

         $('document').ready(setup);
         </script>
   </body>
   <div class="container-fluid"
      style="background-color:rgb(255, 143, 0);">

      <center>
    Created by Benjamin Nadon and Hassan Abioye, Anthony Gartner, Nicholas Cabrera.
  </div>
</html>
