<!DOCTYPE html>
<html>
   <head>
     <meta name="google-site-verification" content="fttcwGg9F1gbh8l5e_24FFe9nGrpDViWjDw3Vljeoec" />
      <title>Mist - Event Input</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" />
      <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
      <link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
      
       <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
   </head>
   <body>
    <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: rgb(255, 143, 0);">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
      <img src="https://mist-asset.s3.us-east-2.amazonaws.com/temp+logo.ico" alt="logo" style="width:40px;">
      </a>
      <!-- Links -->
      <ul class="navbar-nav">

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style = "font-size: 1.5vw;">
              Menu
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="index">Map</a>
              <a class="dropdown-item" href="calendar">Calendar</a>
              <a class="dropdown-item" href="inputpage">Create Events</a>
              <a class="dropdown-item" href="friendscreen">Friend Search</a>
          </div>
        </li>
      </ul>

        <span class="navbar-text ml-auto" style = "font-size: 1.5vw;">
          {{userData[0][0]}}  <a href = "logout"> logout</a>
        </span>

    </nav>
    <!--<div class ="container-fluid" style ="background-color:rgb(255, 143, 0);">
      <div class="row" style="background-color:rgb(255, 143, 0);">
          <div class = "col-3" display: inline-block; style = "display:inline-block;padding:0;margin:0;">
              <a href = "https://mist-princeton.herokuapp.com/"><img src="https://mist-asset.s3.us-east-2.amazonaws.com/mist+map+v2.png"  class="responsive" style = "max-width:30%;height:auto;float:left;"></a>
          </div>
          <div class = "col-6 align-middle" display: inline-block;><center><h1 class="align-middle" style="font-size:4vw;float:center;display:inline;">Welcome to Mist!</h1></center></div>
          <div class = "col-3"display: inline-block; style = "display:inline-block;padding:0;">
              <a href = "https://mist-princeton.herokuapp.com/calendar"><img src="https://mist-asset.s3.us-east-2.amazonaws.com/mist+day+v2.png"  class="responsive" style = "max-width:30%;height:auto;float:right;"></a>
          </div>
      </div>
  </div>-->
      <center><h1>Event Creation</h1></center>
      <form  action = "index" method = "get">
      <input type="submit", id = "back" value = "Return to Map">
      </form>
      <p id = "error" style="color:red;">
      </p>
      <form onsubmit = "return checkInput()"action = "addinput" method = "get">
      <table>
      <tr>
      <td align = "right"> <label for="private"> Private Event: </label> </td>
      <td> <input type="checkbox" id = "private" name = "private" ></td>
      </tr>
      <tr>
      <td align = "right"> <label for="Location"><font color = "RED">*</font> Location: </label> </td>
      <td> <input type="text" id = "loc" name = "loc" ></td>
      </tr>
      <tr>
      <td align = "right"><label for="Title"><font color = "RED">*</font> Event Title:</label></td>
      <td><Input type="text", id = "title" name = "title" ></td>
      </tr>
      <tr>
      <td align = "right"><label for="startTime"><font color = "RED">*</font> Start Time:</label></td>
      <td><Input type = "time", id = "start" name = "start"></td>
      </tr>
      <tr>
      <td align = "right"><label for="endTime"><font color = "RED">*</font> End Time:</label></td>
      <td><Input type = "time", id = "end" name = "end"></td>
      </tr>
      <tr><td align = "right"><label for="startDate"><font color = "RED">*</font> Start Date:</label></td>
      <td><Input type = "date", id = "startDate" name = "startDate"></td>
      </tr>
      <tr>
        <td align = "right"><label for="endDate"> End Date:</label></td>
        <td><Input type = "date", id = "endDate" name = "endDate"></td>
      </tr>
      <tr>
      <td align = "right"><label for="Details"> Details:</label></td>
      <td><Input type = "text", id = "details" name = "details"></td>
      </tr>
      <tr>
        <td align = "right"><label for="roomnum">Room Number:</label></td>
        <td><Input type = "text" id = "roomnum" name = "roomnum"></td>
        </tr>
      <tr>
      <td align = "right"><label for="Coords"><font color = "RED">*</font>Coordinates:</label></td>
      <td><Input type = "text" id = "coords" name = "coords" value = '{  "lat":LATITUDE,  "lng":LONGITUDE }' readonly></td>
      </tr>

      <tr>
      <td></td>
      <td><input type="button", onclick = "initMap()" value = "Add coordinates from map"></td>
      </tr>
      <tr>
        <td></td>
        <td>OR</td>
      </tr>
      <tr>
      <td></td>
      <td alight = "right"><select id = "placelist" onchange="addCords()">
        <option value="Default"> Select Popular Location</option>
        <option value="Frist">Frist Campus Center</option>
        <option value="Firestone">Firestone Library</option>
        <option value="Friend">Friend Center</option>
        <option value="Jewish">Center For Jewish Life</option>
      </select></td>
      </tr>
      <tr>
      <td></td>
      <td><input type="submit", id = "submit" value = "Create"></td>
      </tr>
      </table>
      </form>


      <div id = "map"></div>

      <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3KgDnvZgxSc4QSXw2ag40SLeG5wAXVoI">
      </script>

      <script type = "text/javascript">
      "use strict"

      function checkInput(){
        if(document.getElementById("loc").value ==""){
          document.getElementById("error").innerHTML = "no location";
          return false;
        }
        // if(document.getElementById("roomnum").value ==""){
        //   document.getElementById("error").innerHTML = "no roomnum";
        //   return false;
        // }
        if(document.getElementById("title").value ==""){
          document.getElementById("error").innerHTML = "no title";
          return false;
        }
        if(document.getElementById("start").value ==""){
          document.getElementById("error").innerHTML = "no start time";
          return false;
        }
        if(document.getElementById("end").value ==""){
          document.getElementById("error").innerHTML = "no end time";
          return false;
        }
        if(document.getElementById("startDate").value ==""){
          document.getElementById("error").innerHTML = "no start date";
          return false;
        }
        if(document.getElementById("endDate").value ==""){
          document.getElementById("endDate").value = document.getElementById("startDate").value;
        }

        if(document.getElementById("coords").value =='{  "lat":LATITUDE,  "lng":LONGITUDE }'){
          document.getElementById("error").innerHTML = "pick coordinated from map";
          return false;
        }
        // if(document.getElementById("start").value > document.getElementById("end").value){
        //   document.getElementById("error").innerHTML = "start time after end";
        //   return false;
        // }

        // let s1 = document.getElementById("startDate") + " " + document.getElementById("start");
        // let s2 = document.getElementById("endDate") + " " + document.getElementById("end");
        let s1 = document.getElementById("startDate").value + " " + document.getElementById("start").value;
        let s2 = document.getElementById("endDate").value + " " + document.getElementById("end").value;
        console.log(s1);
        var d1 = new Date(s1);
        var d2 = new Date(s2);



        if( d1 > d2 ){
          document.getElementById("error").innerHTML = "event must start before it ends";
          return false;
        }

        return true;
      }

      function addCords() {
        if (document.getElementById("placelist").value == "Default")
        document.getElementById("coords").value = '{  "lat":LATITUDE,  "lng":LONGITUDE }'
        if (document.getElementById("placelist").value == "Frist")
        document.getElementById("coords").value = '{  "lat": 40.34695705355033,  "lng": -74.65532898902893 }'
        if (document.getElementById("placelist").value == "Firestone")
        document.getElementById("coords").value = '{  "lat": 40.349475477436926,  "lng": -74.65779662132263 }'
        if (document.getElementById("placelist").value == "Friend")
        document.getElementById("coords").value = '{  "lat": 40.35041168571587,  "lng": -74.65282917022705 }'
        if (document.getElementById("placelist").value == "Jewish")
        document.getElementById("coords").value = '{  "lat": 40.34671174749656,  "lng": -74.65363383293152 }'
      }
      function initMap() {
        console.log("initmap");
  const map = new google.maps.Map(document.getElementById("map"), {
    center: { lat:40.34657, lng: -74.65631 },
    zoom: 16,
  });

  let infoWindow = new google.maps.InfoWindow({
  content: "Click the map to choose a location",
  position: { lat:40.34657, lng: -74.65631 },
  map: map
});



  map.addListener("click", (mapsMouseEvent) => {
    // Close the current InfoWindow.
    infoWindow.close();
    // Create a new InfoWindow.
    infoWindow = new google.maps.InfoWindow({
      position: mapsMouseEvent.latLng,
    });
    infoWindow.setContent(
      JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
    );
    document.getElementById("coords").value = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
    infoWindow.open(map);
  });
}



  </script>

  <!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3KgDnvZgxSc4QSXw2ag40SLeG5wAXVoI&callback=initMap">

  </script> -->

      <hr>
      Created by Benjamin Nadon, Anthony Gartner, Hassan Abioye, and Nicholas Cabrera.
      <hr>

   </body>
</html>
